In [20]:
import pandas as pd

In [21]:
# Read the vectorized csv file
df = pd.read_csv("/Users/admin/PycharmProjects/Cocktail-Recommendation-System/database/vectorized_cocktails.csv")
df.head(5)

,id,name,alcoholic,category,glassType,instructions,drinkThumbnail,ingredients,ingredientMeasures,text,ingredient_vec
0,0,A1,1.0,cocktail,cocktail glass,"Pour all ingredients into a cocktail shaker, m...",https://www.thecocktaildb.com/images/media/dri...,"['gin', 'grand marnier', 'lemon juice', 'grena...","['1 3/4 shot ', '1 Shot ', '1/4 Shot', '1/8 Sh...",question Generate a cocktail with Gin Grand Ma...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,1,ABC,1.0,shot,shot glass,Layered in a shot glass.,https://www.thecocktaildb.com/images/media/dri...,"['amaretto', 'baileys irish cream', 'cognac']","['1/3 ', '1/3 ', '1/3 ']",question Generate a cocktail with Amaretto Bai...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
2,2,Ace,1.0,cocktail,martini glass,Shake all the ingredients in a cocktail shaker...,https://www.thecocktaildb.com/images/media/dri...,"['gin', 'grenadine', 'heavy cream', 'milk', 'e...","['2 shots ', '1/2 shot ', '1/2 shot ', '1/2 sh...",question Generate a cocktail with Gin Grenadin...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,3,ACID,1.0,shot,shot glass,Poor in the 151 first followed by the 101 serv...,https://www.thecocktaildb.com/images/media/dri...,"['151 proof rum', 'wild turkey']","['1 oz Bacardi ', '1 oz ']",question Generate a cocktail with 151 proof ru...,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,4,Adam,1.0,ordinary drink,cocktail glass,"In a shaker half-filled with ice cubes, combin...",https://www.thecocktaildb.com/images/media/dri...,"['dark rum', 'lemon juice', 'grenadine']","['2 oz ', '1 oz ', '1 tsp ']",question Generate a cocktail with Dark rum Lem...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [22]:
# Step 1: Create categories table (unique values + ID)
categories = pd.DataFrame({"name": df['category'].unique()})
categories["category_id"] = categories.index + 1

# Step 2: Merge category_id into df
df = df.merge(categories, left_on='category', right_on='name', how='left') \
    .rename(columns={'id': 'category_id'})

df.drop(columns=['name_y'], inplace=True)
df.rename(columns={'name_x': 'name'}, inplace=True)

In [23]:
categories.head(5)

              name  category_id
0         cocktail            1
1             shot            2
2   ordinary drink            3
3  other / unknown            4
4     coffee / tea            5

In [24]:
df.head(5)

,category_id,name,alcoholic,category,glassType,instructions,drinkThumbnail,ingredients,ingredientMeasures,text,ingredient_vec,category_id
0,0,A1,1.0,cocktail,cocktail glass,"Pour all ingredients into a cocktail shaker, m...",https://www.thecocktaildb.com/images/media/dri...,"['gin', 'grand marnier', 'lemon juice', 'grena...","['1 3/4 shot ', '1 Shot ', '1/4 Shot', '1/8 Sh...",question Generate a cocktail with Gin Grand Ma...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
1,1,ABC,1.0,shot,shot glass,Layered in a shot glass.,https://www.thecocktaildb.com/images/media/dri...,"['amaretto', 'baileys irish cream', 'cognac']","['1/3 ', '1/3 ', '1/3 ']",question Generate a cocktail with Amaretto Bai...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...",2
2,2,Ace,1.0,cocktail,martini glass,Shake all the ingredients in a cocktail shaker...,https://www.thecocktaildb.com/images/media/dri...,"['gin', 'grenadine', 'heavy cream', 'milk', 'e...","['2 shots ', '1/2 shot ', '1/2 shot ', '1/2 sh...",question Generate a cocktail with Gin Grenadin...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
3,3,ACID,1.0,shot,shot glass,Poor in the 151 first followed by the 101 serv...,https://www.thecocktaildb.com/images/media/dri...,"['151 proof rum', 'wild turkey']","['1 oz Bacardi ', '1 oz ']",question Generate a cocktail with 151 proof ru...,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2
4,4,Adam,1.0,ordinary drink,cocktail glass,"In a shaker half-filled with ice cubes, combin...",https://www.thecocktaildb.com/images/media/dri...,"['dark rum', 'lemon juice', 'grenadine']","['2 oz ', '1 oz ', '1 tsp ']",question Generate a cocktail with Dark rum Lem...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",3

In [30]:
# Replace the NaN in alcoholic column by 'unknown'
df['alcoholic'] = df['alcoholic'].fillna('unknown')
alcoholic_types = pd.DataFrame({"alcoholic_type": df['alcoholic'].unique()})
alcoholic_types['alcoholic_id'] = alcoholic_types.index + 1
df = df.merge(alcoholic_types, left_on='alcoholic', right_on='alcoholic_type', how='left')
alcoholic_types

  alcoholic_type  alcoholic_id
0            1.0             1
1            0.0             2
2        unknown             3

In [31]:
# Ingredients Table
ingredients = pd.DataFrame({'ingredients':df['ingredients'].unique()})
ingredients['ingredient_id'] = ingredients.index + 1
ingredients.head(5)

                                         ingredients  ingredient_id
0  ['gin', 'grand marnier', 'lemon juice', 'grena...              1
1      ['amaretto', 'baileys irish cream', 'cognac']              2
2  ['gin', 'grenadine', 'heavy cream', 'milk', 'e...              3
3                   ['151 proof rum', 'wild turkey']              4
4           ['dark rum', 'lemon juice', 'grenadine']              5

In [27]:
# drop the duplicate columns
df = df.loc[:, ~df.columns.duplicated()]
df = df.drop(columns=['alcoholic_type','alcoholic_id'])
df.rename(columns={'category_id': 'id'}, inplace=True)
df.head(5)

,id,name,alcoholic,category,glassType,instructions,drinkThumbnail,ingredients,ingredientMeasures,text,ingredient_vec
0,0,A1,1.0,cocktail,cocktail glass,"Pour all ingredients into a cocktail shaker, m...",https://www.thecocktaildb.com/images/media/dri...,"['gin', 'grand marnier', 'lemon juice', 'grena...","['1 3/4 shot ', '1 Shot ', '1/4 Shot', '1/8 Sh...",question Generate a cocktail with Gin Grand Ma...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,1,ABC,1.0,shot,shot glass,Layered in a shot glass.,https://www.thecocktaildb.com/images/media/dri...,"['amaretto', 'baileys irish cream', 'cognac']","['1/3 ', '1/3 ', '1/3 ']",question Generate a cocktail with Amaretto Bai...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
2,2,Ace,1.0,cocktail,martini glass,Shake all the ingredients in a cocktail shaker...,https://www.thecocktaildb.com/images/media/dri...,"['gin', 'grenadine', 'heavy cream', 'milk', 'e...","['2 shots ', '1/2 shot ', '1/2 shot ', '1/2 sh...",question Generate a cocktail with Gin Grenadin...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,3,ACID,1.0,shot,shot glass,Poor in the 151 first followed by the 101 serv...,https://www.thecocktaildb.com/images/media/dri...,"['151 proof rum', 'wild turkey']","['1 oz Bacardi ', '1 oz ']",question Generate a cocktail with 151 proof ru...,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,4,Adam,1.0,ordinary drink,cocktail glass,"In a shaker half-filled with ice cubes, combin...",https://www.thecocktaildb.com/images/media/dri...,"['dark rum', 'lemon juice', 'grenadine']","['2 oz ', '1 oz ', '1 tsp ']",question Generate a cocktail with Dark rum Lem...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [29]:
# Cocktails Tables
cocktails = pd.DataFrame({
    'id': df['id'],
    'name': df['name'],
    'category_id': df['category_id'],
    'glassType': df['glassType'],
    'instructions': df['instructions'],
    'image': df['image'],
    'ingredientMeasures': df['ingredientMeasures'],
    'ingredients': df['ingredients'],
    'alcoholic_id': df['alcoholic_id']
})

KeyError: 'category_id'