In [26]:
import pandas as pd

In [27]:
# Read the dataframe 
df = pd.read_csv("/Users/admin/PycharmProjects/Cocktail-Recommendation-System/database/final_cocktails.csv")
df.head(5)

,Unnamed: 0,id,name,alcoholic,category,glassType,instructions,drinkThumbnail,ingredients,ingredientMeasures,text
0,0,0,A1,Alcoholic,Cocktail,Cocktail glass,"Pour all ingredients into a cocktail shaker, m...",https://www.thecocktaildb.com/images/media/dri...,"['Gin', 'Grand Marnier', 'Lemon Juice', 'Grena...","['1 3/4 shot ', '1 Shot ', '1/4 Shot', '1/8 Sh...",question Generate a cocktail with Gin Grand Ma...
1,1,1,ABC,Alcoholic,Shot,Shot glass,Layered in a shot glass.,https://www.thecocktaildb.com/images/media/dri...,"['Amaretto', 'Baileys irish cream', 'Cognac']","['1/3 ', '1/3 ', '1/3 ']",question Generate a cocktail with Amaretto Bai...
2,2,2,Ace,Alcoholic,Cocktail,Martini Glass,Shake all the ingredients in a cocktail shaker...,https://www.thecocktaildb.com/images/media/dri...,"['Gin', 'Grenadine', 'Heavy cream', 'Milk', 'E...","['2 shots ', '1/2 shot ', '1/2 shot ', '1/2 sh...",question Generate a cocktail with Gin Grenadin...
3,3,3,ACID,Alcoholic,Shot,Shot glass,Poor in the 151 first followed by the 101 serv...,https://www.thecocktaildb.com/images/media/dri...,"['151 proof rum', 'Wild Turkey']","['1 oz Bacardi ', '1 oz ']",question Generate a cocktail with 151 proof ru...
4,4,4,Adam,Alcoholic,Ordinary Drink,Cocktail glass,"In a shaker half-filled with ice cubes, combin...",https://www.thecocktaildb.com/images/media/dri...,"['Dark rum', 'Lemon juice', 'Grenadine']","['2 oz ', '1 oz ', '1 tsp ']",question Generate a cocktail with Dark rum Lem...

In [28]:
df.describe()

       Unnamed: 0          id
count  425.000000  425.000000
mean   212.000000  212.000000
std    122.831185  122.831185
min      0.000000    0.000000
25%    106.000000  106.000000
50%    212.000000  212.000000
75%    318.000000  318.000000
max    424.000000  424.000000

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425 entries, 0 to 424
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          425 non-null    int64
 1   id                  425 non-null    int64
 2   name                425 non-null    object
 3   alcoholic           425 non-null    object
 4   category            425 non-null    object
 5   glassType           425 non-null    object
 6   instructions        425 non-null    object
 7   drinkThumbnail      425 non-null    object
 8   ingredients         425 non-null    object
 9   ingredientMeasures  425 non-null    object
 10  text                425 non-null    object
dtypes: int64(2), object(9)
memory usage: 36.7+ KB

In [30]:
df.isnull().sum()

Unnamed: 0            0
id                    0
name                  0
alcoholic             0
category              0
glassType             0
instructions          0
drinkThumbnail        0
ingredients           0
ingredientMeasures    0
text                  0
dtype: int64

In [31]:
# drop the Unnamed column
df.drop(columns=["Unnamed: 0"], inplace=True)
df.head(5)

,id,name,alcoholic,category,glassType,instructions,drinkThumbnail,ingredients,ingredientMeasures,text
0,0,A1,Alcoholic,Cocktail,Cocktail glass,"Pour all ingredients into a cocktail shaker, m...",https://www.thecocktaildb.com/images/media/dri...,"['Gin', 'Grand Marnier', 'Lemon Juice', 'Grena...","['1 3/4 shot ', '1 Shot ', '1/4 Shot', '1/8 Sh...",question Generate a cocktail with Gin Grand Ma...
1,1,ABC,Alcoholic,Shot,Shot glass,Layered in a shot glass.,https://www.thecocktaildb.com/images/media/dri...,"['Amaretto', 'Baileys irish cream', 'Cognac']","['1/3 ', '1/3 ', '1/3 ']",question Generate a cocktail with Amaretto Bai...
2,2,Ace,Alcoholic,Cocktail,Martini Glass,Shake all the ingredients in a cocktail shaker...,https://www.thecocktaildb.com/images/media/dri...,"['Gin', 'Grenadine', 'Heavy cream', 'Milk', 'E...","['2 shots ', '1/2 shot ', '1/2 shot ', '1/2 sh...",question Generate a cocktail with Gin Grenadin...
3,3,ACID,Alcoholic,Shot,Shot glass,Poor in the 151 first followed by the 101 serv...,https://www.thecocktaildb.com/images/media/dri...,"['151 proof rum', 'Wild Turkey']","['1 oz Bacardi ', '1 oz ']",question Generate a cocktail with 151 proof ru...
4,4,Adam,Alcoholic,Ordinary Drink,Cocktail glass,"In a shaker half-filled with ice cubes, combin...",https://www.thecocktaildb.com/images/media/dri...,"['Dark rum', 'Lemon juice', 'Grenadine']","['2 oz ', '1 oz ', '1 tsp ']",question Generate a cocktail with Dark rum Lem...

In [32]:
# Check the "ingredients" column
print(type(df["ingredients"][2]))
print(type(df["ingredientMeasures"][3]))

<class 'str'>
<class 'str'>

In [33]:
print(df["ingredients"].head(3))

0    ['Gin', 'Grand Marnier', 'Lemon Juice', 'Grena...
1        ['Amaretto', 'Baileys irish cream', 'Cognac']
2    ['Gin', 'Grenadine', 'Heavy cream', 'Milk', 'E...
Name: ingredients, dtype: object

In [34]:
import ast
df['ingredients'] = df['ingredients'].apply(ast.literal_eval)
df['ingredientMeasures'] = df['ingredientMeasures'].apply(ast.literal_eval)

In [35]:
# Check the "ingredients" and "ingredientsMeasure" columns
print(type(df["ingredients"][2]))
print(type(df["ingredientMeasures"][3]))

<class 'list'>
<class 'list'>

In [36]:
# Normalize the ingredients column
df['ingredients'] = df['ingredients'].apply(
    lambda ingredients: [ingredient.strip().lower() for ingredient in ingredients]
)

# Display the normalized ingredients
df['ingredients'].head()

0      [gin, grand marnier, lemon juice, grenadine]
1           [amaretto, baileys irish cream, cognac]
2    [gin, grenadine, heavy cream, milk, egg white]
3                      [151 proof rum, wild turkey]
4                [dark rum, lemon juice, grenadine]
Name: ingredients, dtype: object

In [37]:
# Standardize alcoholic, category, glassType
df["alcoholic"] = df["alcoholic"].str.lower().str.strip()
df["category"] = df["category"].str.lower().str.strip()
df["glassType"] = df["glassType"].str.lower().str.strip()

In [38]:
print(df["alcoholic"].unique())
print(df["category"].unique())
print(df["glassType"].unique())

['alcoholic' 'non alcoholic' 'optional alcohol']
['cocktail' 'shot' 'ordinary drink' 'other / unknown' 'coffee / tea'
 'beer' 'punch / party drink' 'shake' 'soft drink' 'homemade liqueur'
 'cocoa']
['cocktail glass' 'shot glass' 'martini glass' 'highball glass'
 'collins glass' 'old-fashioned glass' 'whiskey sour glass'
 'champagne flute' 'margarita glass' 'coupe glass' 'beer pilsner'
 'punch bowl' 'coffee mug' 'beer mug' 'pint glass' 'hurricane glass'
 'pitcher' 'beer glass' 'irish coffee cup' 'mason jar' 'balloon glass'
 'wine glass' 'cordial glass' 'brandy snifter' 'copper mug' 'jar'
 'nick and nora glass' 'white wine glass' 'whiskey glass'
 'pousse cafe glass' 'margarita/coupette glass']

In [39]:
# The most common ingredients
most_common_ingredients = df['ingredients'].explode().value_counts().head(10) # Transform the list of ingredients into a long format
most_common_ingredients

ingredients
gin             82
vodka           64
sugar           51
lemon juice     49
orange juice    44
lemon           40
ice             36
lime juice      32
grenadine       31
lime            30
Name: count, dtype: int64

In [40]:
most_frequent_glass_types = df['glassType'].value_counts().head(10)
most_frequent_glass_types

glassType
cocktail glass         100
highball glass          98
collins glass           58
old-fashioned glass     39
shot glass              24
coffee mug              16
whiskey sour glass      14
punch bowl               8
champagne flute          7
irish coffee cup         6
Name: count, dtype: int64

In [41]:
# number of alcoholic and non-alcoholic cocktails
number_of_alcoholic = df[df['alcoholic'] == 'alcoholic'].shape[0]
number_of_non_alcoholic = df[df['alcoholic'] == 'non-alcoholic'].shape[0]
print(f"Number of alcoholic cocktails: {number_of_alcoholic}")
print(f"Number of non-alcoholic cocktails: {number_of_non_alcoholic}")

Number of alcoholic cocktails: 379
Number of non-alcoholic cocktails: 0

In [42]:
# Review the dataframe after cleaning
df.head(5)

,id,name,alcoholic,category,glassType,instructions,drinkThumbnail,ingredients,ingredientMeasures,text
0,0,A1,alcoholic,cocktail,cocktail glass,"Pour all ingredients into a cocktail shaker, m...",https://www.thecocktaildb.com/images/media/dri...,"[gin, grand marnier, lemon juice, grenadine]","[1 3/4 shot , 1 Shot , 1/4 Shot, 1/8 Shot]",question Generate a cocktail with Gin Grand Ma...
1,1,ABC,alcoholic,shot,shot glass,Layered in a shot glass.,https://www.thecocktaildb.com/images/media/dri...,"[amaretto, baileys irish cream, cognac]","[1/3 , 1/3 , 1/3 ]",question Generate a cocktail with Amaretto Bai...
2,2,Ace,alcoholic,cocktail,martini glass,Shake all the ingredients in a cocktail shaker...,https://www.thecocktaildb.com/images/media/dri...,"[gin, grenadine, heavy cream, milk, egg white]","[2 shots , 1/2 shot , 1/2 shot , 1/2 shot, 1/2...",question Generate a cocktail with Gin Grenadin...
3,3,ACID,alcoholic,shot,shot glass,Poor in the 151 first followed by the 101 serv...,https://www.thecocktaildb.com/images/media/dri...,"[151 proof rum, wild turkey]","[1 oz Bacardi , 1 oz ]",question Generate a cocktail with 151 proof ru...
4,4,Adam,alcoholic,ordinary drink,cocktail glass,"In a shaker half-filled with ice cubes, combin...",https://www.thecocktaildb.com/images/media/dri...,"[dark rum, lemon juice, grenadine]","[2 oz , 1 oz , 1 tsp ]",question Generate a cocktail with Dark rum Lem...

In [43]:
# Save the cleaned dataframe to a new CSV file
df.to_csv("/Users/admin/PycharmProjects/Cocktail-Recommendation-System/database/cleaned_cocktails.csv", index=False)